.rightSidebar_down{
    display: flex;
    justify-content: center;
    margin-left: 55px;
    justify-content: space-evenly;
}

.posts{
cursor: pointer;
}
.followers{
    cursor: pointer;
}
.following{
    cursor: pointer;
}